<button type="submit" class="btn btn-primary btn-lg btn-block">¿Sabías que...? En muchas calles de Japón está prohibido fumar! pero sin embargo hay restaurantes en los que si esta permitido.</button>
<div class="jumbotron">
    <h1 class="display-3">Evaluación oral 1</h1>
    <p>Tipos de saludos y modales</p>
    <p class="lead">
        挨拶とマナーの種類l
        </p>
      <p class="lead">Aisatsu to manā no shurui</p>
    <p class="lead">En este test oral tendrás que enviar un archivo de audio con los siguientes requerimientos:</p>
    <hr class="my-4">
    <p>Presentate a ti mismo en japonés en un breve audio de 25 segundos.</p>
    <div class="form-group">
        <label for="exampleInputFile"> Subir archivo de audio </label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">El tamaño de tu audio no puede sobrepasar los 50Mb.</small>
      </div>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Enviar archivo</a>
    </p>
  </div>