<button type="submit" class="btn btn-primary btn-lg btn-block"> </button>

<div class="card mt-5">
    <div class="card-body">
        <h3 class="card-tittle text-center">
            Ingresa tu email por favor
        </h3>
        <div class="form-group">
            <input type="email" class="form-control" [formControl]="userEmail">
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary btn-lg" (click)="onReset()">
                Pedir un cambio de contraseña
            </button>
        </div>
    </div>
</div>
