<button type="submit" class="btn btn-primary btn-lg btn-block">¿Sabías que...? Aikido es una técnica japonesa que significa, ganarle al rival con lo que el mismo proporciona para el enfrentamiento?.</button>  
  <div class="form-group has-success">
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Ingrese su nombre:</label>
    <input class="form-control form-control-lg" type="text" placeholder="" id="inputLarge">
  </div>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Ingrese su correo:</label>
    <input class="form-control form-control-lg" type="text" placeholder="" id="inputLarge">
  </div>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Ingrese descripción de donación</label>
    <input class="form-control form-control-lg" type="text" placeholder="" id="inputLarge">
  </div>
  
  <div class="form-group">
    <label class="control-label">Ingrese monto de donacion (DÓLARES)</label>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Monto">
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>
    </div>  
  </div>
  <button class="btn btn-primary btn-lg btn-block">Ir al sitio de pago de donación</button>