<button type="submit" class="btn btn-primary btn-lg btn-block">¿Sabías que...? En Japón existen mas de 35 animales exoticos</button>  
<form class="form-group">

      <div class="form-group">
        <label for="exampleInputEmail1">Correo electrónico:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Recuerda que no compartiremos tu email con nadie.</small>
      </div>
      <div class="form-group">
        <label for="exampleSelect1">Tipo de consulta</label>
        <select class="form-control" id="exampleSelect1">
          <option>Consulta de página web</option>
          <option>Consulta de zona de aprendizaje</option>
          <option>Consulta de cuentas de usuario</option>
          <option>Consulta de donaciones</option>
          <option>Consulta de pagos y envios</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleSelect2">Seleccione nivel de aprendizaje en el que concurre  </label>
        <select multiple="" class="form-control" id="exampleSelect2">
          <option>1 Novato</option>
          <option>2 Aprendiz</option>
          <option>3 Avanzado</option>
          <option>4 Maestro</option>
          <option>5 Senpai</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Ingrese su consulta</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Ingrese su archivo (Opcional)</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">El archivo no puede pesar mas de 50MB</small>
      </div>
      <button type="submit" class="btn btn-block btn-primary mt-12">Enviar consulta</button>

  </form>