<button type="submit" class="btn btn-primary btn-lg btn-block">¿Sabías que...? En Japón existen cafeterías donde puedes interactuar con animales exóticos! Entre ellos serpientes, aves y erizos!</button>
<div class="jumbotron">
  <h1 class="display-3">Evaluación Escrita 1</h1>
  <p>Tipos de saludos y modales</p>
  <p class="lead">
    挨拶とマナーの種類
    </p>
  <p class="lead">Aisatsu to manā no shurui</p>
  <p class="lead">En este test oral tendrás que enviar un archivo de texto en Microsoft Word con los siguientes requerimientos:</p>
  <hr class="my-4">
  <p>Escribe una presentacion sobre ti hablando con los modales correspondientes, mínimo 50 palabras.</p>
  <div class="form-group">
      <label for="exampleInputFile">Subir archivo de texto</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">El tamaño de texto no puede sobrepasar los 10Mb.</small>
    </div>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Guardar y enviar.</a>
  </p>
</div>