<div class="jumbotron text-center">
    <h1 class="display-3">Mi cuenta</h1>
    <p class="lead"> </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">MEJORAR A PREMIUM</a>
    <p class="lead">Solo por $7'00' USD/mes</p>
    <hr class="my-4">
    <p>Nombre= Andrea Bernal</p>
    <p>Email= abernal.iragorri@gmail.com</p> 
    <p>Nivel= 1 Novato</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Cambiar contraseña</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Cambiar nombre</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Cambiar direccion de correo</a>
      </p>
      <p class="lead">

  </div>