<div class="jumbotron text-center">
    <h1 class="display-3">Bienvenido a Maipo Vende</h1>
    <p class="lead">SISTEMA DE VENTA DE FRUTAS</p>
    <p class="lead">
      <a class="btn btn-primary  btn-lg" href="#" role="button">INGRESAR</a>
  
    </p> 
</div>
<div class="jumbotron text-center">
  <h1 class="display-3">OPCION NUEVA</h1>
  <p class="lead">SIRVE PARA...</p>
  <p>BLABLABLA</p>
  <p class="lead">
    <a class="btn btn-primary  btn-lg" href="#" role="button">COMENZAR</a>
  </p>
</div>
