<button type="submit" class="btn btn-primary btn-lg btn-block">¿Sabías que...? Aikido es una técnica japonesa que significa, ganarle al rival con lo que el mismo proporciona para el enfrentamiento?.</button>  
<div class="jumbotron text-center">
    <h1 class="display-3">JapApp</h1>
    <p class="lead">JapApp nació a partir de un emprendimiento de clases, 3 alumnos comenzaron de a poco surcando e imaginando una posible página que hiciera realidad sus sueños.</p>
    <hr class="my-4">
    <p>Si quieres leer mas sobre los creadores haz click en el botón de abajo</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Click aqui</a>
    </p>
  </div>