<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Advertencia!</h4>
  <p class="mb-0">  Entraste a la zona de aprendizaje! Esta seccion sólo se utiliza para realizar test y pruebas, si accediste por error haz click aqui: <a  [routerLink]="['/home']"> VOLVER A HOME </a></p>  
</div>
<div class="mt-3 progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block">ZONA DE EVALUACIONES</button>

  <div class="mt-3 progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
  <div class="jumbotron">
    <h1 class="display-12">Evaluacion 1 </h1>
    <p class="lead">Tipos de saludos y modales</p>
    <p class="lead">
      挨拶とマナーの種類
      </p>
    <p class="lead">Aisatsu to manā no shurui</p>
    <hr class="my-4">
    <p>Total de preguntas: 10</p>
    <p>Intentos: 3</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg nav-link" routerLink='/oral' role="button">EVALUACIÓN ORAL</a>
      <a class="btn btn-primary btn-lg nav-link" routerLink='/escrito' role="button">EVALUACIÓN ESCRITA</a>
    </p>
  </div>
  <div class="jumbotron">
    <h1 class="display-12">Evaluacion 2</h1>
    <p class="lead">Animales, comida y lugares</p>
    <p class="lead">
      動物の食べ物と都市
      </p>
    <p class="lead">Dōbutsu no tabemono to toshi</p>
    <hr class="my-4">
    <p>Total de preguntas: 15</p>
    <p>Intentos: 3</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg nav-link" routerLink='/oral' role="button">EVALUACIÓN ORAL</a>
      <a class="btn btn-primary btn-lg nav-link" routerLink='/escrito' role="button">EVALUACIÓN ESCRITA</a>
    </p>
  </div>
  <div class="jumbotron">
    <h1 class="display-12">Evaluacion ESPECIAL 3</h1>
    <p class="lead">Tiempo pasado en japonés</p>
    <p class="lead">
      
日本語で過ごした時間
      </p>
    <p class="lead">Nihongo de sugoshita jikan</p>
    <hr class="my-4">
    <p>Total de preguntas: 10</p>
    <p>Intentos: 1</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg nav-link" routerLink='/oral' role="button">EVALUACIÓN ORAL</a>
      <a class="btn btn-primary btn-lg nav-link" routerLink='/escrito' role="button">EVALUACIÓN ESCRITA</a>
    </p>
  </div>
  <div class="jumbotron">
    <h1 class="display-12">Evaluacion 4</h1>
    <p class="lead">Tiempo presente en japonés</p>
    <p class="lead">
      日本語の時制
      </p>
    <p class="lead">Nihongo no jisei</p>
    <hr class="my-4">
    <p>Total de preguntas: 15</p>
    <p>Intentos: 3</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">EVALUACIÓN ORAL</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">EVALUACIÓN ESCRITA</a>
    </p>
  </div>
  